body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-areas: 
    "sidebar content"
    ;
    height: 100vh;
}

.sidebar {
    background-color: lightblue;
    grid-area: sidebar;
}

.stats-title {
    display: flex;
}

.content {
    grid-area: content;
}

dialog:not([open]) {
    display: none !important;
}
