body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-areas: 
    "sidebar content"
    ;
    height: 100vh;
}

.sidebar {
    background-color: lightblue;
    grid-area: sidebar;
}

.stats-title {
    display: flex;
}

.content {
    grid-area: content;
}

.new-book-dialog {
    display: none;
}

dialog[open] {
    display: flex;
}

/* dialog:not([open]) {
    display: none !important;
} */

.new-book-btn {
    cursor: pointer;
}



